:root {
    --body-color: #FAFAFA;
    --font: 'Arimo', sans-serif;
    --accent-color: #2c3e50;
    --light-text: white;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--body-color);
    font-family: var(--font);
    margin: 0;
}

.app {
    height: 100vh;
}

.app__grid {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header content";
}

.header {
    grid-area: header;
    background: var(--accent-color);
    color: var(--light-text);
    height: inherit;
}

.playlist__link, .friends__link {
    color: var(--light-text);
    text-decoration: none;
}

.playlist__item, .friends__item {
    margin-bottom: 10px;
}

.content {
    grid-area: content;
    height: inherit;
}

.content__grid {
    height: inherit;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "video video"
                        "video video"
                        "video video"
                        "video-details video-details"
                        "comment-box suggestion-box"
                        "comment-box suggestion-box"
                        "comment-box suggestion-box";
}

.video {
    grid-area: video;
    height: 100%;
    width: 100%;
}

.video-details {
    grid-area: video-details;
}

.comment-box {
    grid-area: comment-box;
}

.comments, .suggestions {
    max-height: 200px;
    overflow: scroll;
}

.suggestion-box {
    grid-area: suggestion-box;
}