@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dh3cji');
    src:  url('../fonts/icomoon.eot?dh3cji#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?dh3cji') format('truetype'),
      url('../fonts/icomoon.woff?dh3cji') format('woff'),
      url('../fonts/icomoon.svg?dh3cji#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-download:before {
    content: "\e9c2";
  }
  .icon-share:before {
    content: "\ea82";
  }
  

:root {
    --body-color: #FAFAFA;
    --font: 'Arimo', sans-serif;
    --header-color: #2c3e50;
    --accent-color: #FF4B2B;
    --accent-gradient: linear-gradient(to top right, #FF416C, #FF4B2B);
    --light-text: white;
    --green: #2ecc71;
    --blue: #3498db;
    --purple: #9b59b6;
    --divider-color: #BDBDBD;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--body-color);
    font-family: var(--font);
    margin: 0;
}

figure {
    margin: 0;
}
.app {
    height: 100vh;
}

.app__grid {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header content";
}

.header {
    grid-area: header;
    background: var(--header-color);
    color: var(--light-text);
    height: inherit;
    padding: 0 10px;
}

.header__logo {
    text-align: center;
}

.list__title {
    font-weight: bold;
}

.header__playlist, .header__friends {
    max-height: 50%;
    overflow: scroll;
}

.playlist__list, .friends__list {
    margin: 0;
    padding-left: 15px;
}

.logo__emphasis {
    color: var(--accent-color);
}

.playlist__item, .friends__item {
    margin-bottom: 10px;
    list-style: none;
}

.playlist__link, .friends__link {
    color: var(--light-text);
    text-decoration: none;
}


.playlist__item:hover, .playlist__link:hover, .friends__item:hover, .friends__link:hover {
    color: var(--accent-color);
}

.content {
    grid-area: content;
    height: inherit;
}

.content__grid {
    height: inherit;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "video video"
                        "video video"
                        "video video"
                        "video-details video-details"
                        "comment-box suggestion-box"
                        "comment-box suggestion-box"
                        "comment-box suggestion-box";
}

.video {
    grid-area: video;
    height: 100%;
    width: 100%;
}

.video-details {
    grid-area: video-details;
    font-size: 16px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid var(--divider-color);
}

.video-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-actions__buttons {
    display: flex;
    align-items: center;
}

.add-button {
    padding: 12px 24px;
    background: var(--accent-gradient);
    border: 1px solid transparent;
    color: var(--light-text);
    font-family: var(--font);
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
}

.buttons__button {
    color: gray;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.buttons__button:hover {
    color: black;
}

.categories__category {
    text-decoration: none;
    color: var(--light-text);
    padding: 6px 12px;
    border-radius: 50px;
}

.categories__category--indie {
    background: var(--green);
}

.categories__category--rock {
    background: var(--blue);
}

.categories__category--trending {
    background: var(--purple);
}

.comment-box {
    grid-area: comment-box;
    padding: 0 10px;
}

.comment-box__input {
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding: 12px 6px;
}

.comment {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.comment__profile-pic {
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.comment__text {
    margin: 0;
}

.comments, .suggestions {
    max-height: 100%;
    overflow: scroll;
}

.suggestion-box {
    grid-area: suggestion-box;
    max-height: 100%;
}

.suggestion {
    text-align: center;
}

.suggestion__preview {
    width: 85%;
}

.suggestion__title {
    margin: 0;
}

.suggestion__divider {
    width: 80%;
    border: 1px solid var(--divider-color);
}